$primary-background-color: hsl(180, 52%, 96%);
$primary-text-color: hsl(180, 29%, 50%);
$secondary-text-color: hsl(180, 8%, 52%);
$tertiary-text-color: hsl(180, 14%, 20%);
$secondary-background-color: hsl(180, 31%, 95%);